body {
    background-color: #333138;
    color: #FF312E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    font-size: 1.2em;
}

a {
    color: red;
}

a:visited {
    color: red;
}

header,
h2,
figcaption {
    text-align: center;
}

main,
footer {
    box-sizing: border-box;
    background-color: black;
    border: 2px solid red;
    border-radius: 5px;
    padding: 1% 5%;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.2em;
   
}

img {
    width: 25%;
    display: block;
    height: auto;
    margin: auto;
}

p {
    margin: auto 10%;
}

@media (max-width: 600px) {
    body {
        font-size: 1em;
    }

    img {
        width: 50%;
    }

    p {
        margin: auto 5%;
    }
}

@media (min-width: 601px) and (max-width: 1199px) {
    body {
        font-size: 1.2em;
    }

    img {
        width: 35%;
    }

    p {
        margin: auto 7%;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 1.4em;
    }
}
